#addFood {

font-family:'Shadows Into Light Two', cursive;
font-style: color:rgb(201,78,97);


}

h1 {

	font-family:'Shadows Into Light Two', cursive;

}

h3 {

	font-family:'Shadows Into Light Two', cursive;
	
}

h5 {

	font-family:'Shadows Into Light Two', cursive;


}

.btn-primary {
	
			background-color: rgb(201,78,97); 

}

#movie-view {

	background-color: rgb(105,105,105);
	height:400px;
}